Repository swipemytalent/SwipeMyTalent, pull requests merged in 2025-06, with the labels that each got.

#38 change title & favicon
  frontend/index.html
  frontend/public/Logo-SMT.png
  frontend/public/vite.svg
Labels: enhancement, invalid, front

#43 set light mode as default and apply theme to all components
  frontend/src/components/Navbar.tsx
  frontend/src/index.css
  frontend/src/styles/Landing.scss
  frontend/src/styles/MessageModal.scss
  frontend/src/styles/ProfileModal.scss
  frontend/src/styles/_variables.scss
  frontend/src/styles/auth.scss
  frontend/src/styles/dashboard.scss
  frontend/src/styles/footer.scss
  frontend/src/styles/navbar.scss
  frontend/src/styles/profileview.scss
Labels: bug, front

#48 missing host and port parameters in vite config
  frontend/Dockerfile.prod
  frontend/package.json
  frontend/vite.config.ts
Labels: bug, front

#49 use production Dockerfiles for deployment
  .github/workflows/cd.yaml
Labels: bug, infra

#52 use correct compose file for deployment
  .github/workflows/cd.yaml
Labels: bug, infra

#53 fix registry_user parameter for deployment
  .github/workflows/cd.yaml
Labels: bug, infra

#54 setup allowed origins as a secret
  backend/index.ts
  compose.prod.yaml
Labels: bug, back

#55 add missed bio parameter during registration
  backend/handlers/register.ts
Labels: bug, back

#58 add bio field to user registration
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/authApi.ts
  frontend/src/api/messagesApi.ts
  frontend/src/api/userApi.ts
  frontend/src/components/AuthForm.tsx
  frontend/src/components/Button.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/MessageModal.tsx
  frontend/src/components/MessagesModal.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/cards/ProfileCard.tsx
  frontend/src/hooks/useEditProfile.ts
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/ProfileView.tsx
  frontend/src/pages/Talents.tsx
  frontend/src/redux/userSlice.ts
  frontend/src/services/authService.ts
  frontend/src/services/httpService.ts
  frontend/src/services/loggerService.ts
  frontend/src/styles/auth.scss
Labels: enhancement, front

#57 include rating in user profile
  backend/db/migration/init.sql
  backend/handlers/profile.ts
  backend/handlers/rateProfile.ts
  backend/index.ts
Labels: enhancement, back

#67 add monitoring stack
  backend/monitoring/dashboards/backend-dashboard.json
  backend/monitoring/dashboards/postgres-dashboard.json
  backend/monitoring/grafana/provisioning/dashboards/dashboard.yaml
  backend/monitoring/grafana/provisioning/dashboards/dashboard.yml
  backend/monitoring/prometheus.yml
  compose.prod.yaml
Labels: enhancement, infra
