Repository swipemytalent/SwipeMyTalent, pull requests merged in 2025-07, with the labels that each got.

#71 revert back to Swarm configs
  .github/workflows/cd.yaml
  backend/db/migration/init.sql
  compose.prod.yaml
Labels: bug, infra

#77 Fix/send messages
  backend/index.ts
  frontend/src/styles/dashboard.scss
Labels: bug, front, back

#78 implement in-app notification
  backend/.env.example
  backend/db/migration/init.sql
  backend/handlers/exchanges.ts
  backend/handlers/messages.ts
  backend/handlers/rateProfile.ts
  backend/index.ts
  backend/package-lock.json
  backend/package.json
Labels: enhancement, back, infra

#79 add web push notifications
  backend/handlers/exchanges.ts
  backend/handlers/messages.ts
  backend/handlers/rateProfile.ts
  backend/index.ts
  backend/package-lock.json
  backend/package.json
  backend/utils/sendPushNotification.ts
Labels: enhancement, back
