Repository swipemytalent/SwipeMyTalent, pull requests merged in 2025-05, with the labels that each got.

#16 feat: Convert JSX files to TSX and TypeScript configuration /frontend
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/AuthForm.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/main.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Register.tsx
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: enhancement, front

#19 setup jwt
  backend/.dockerignore
  backend/.env_example
  backend/db/pool.ts
  backend/handlers/login.ts
  backend/index.ts
  backend/package-lock.json
  backend/package.json
Labels: enhancement, back

#20 add cors module
  backend/index.ts
  backend/package-lock.json
  backend/package.json
Labels: bug, back

#21 Add footer and update links in navbar
  frontend/src/App.tsx
  frontend/src/components/AuthForm.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/styles/dashboard.scss
  frontend/src/styles/footer.scss
  frontend/src/styles/main.scss
  package-lock.json
  package.json
Labels: enhancement, front

#23 Add dashboard card components and related files
  frontend/src/components/OpportunitiesCard.tsx
  frontend/src/components/ProfileCard.tsx
  frontend/src/components/ProfileForm.tsx
  frontend/src/components/ProfileModal.tsx
  frontend/src/components/RecentActivityCard.tsx
  frontend/src/components/StatsCard.tsx
  frontend/src/data/dashboardData.json
  frontend/src/declarations.d.ts
  frontend/src/styles/ProfileModal.scss
Labels: enhancement, front
